*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 100%;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 20vh;
    background-color: black;
    display: flex;
}
.nav1{
    height: 50%;
    width: 80%;
    background-color: #174b72;
    display: flex;
    justify-content: center;
    
}
.email{
    padding: 10px;
}
.or {
    padding: 10px;
}
.number {
    padding: 10px;
    font-size: small;
}
.navc{
    width: 50%;
    height: 100%;
    background-color: yellow;
    display: flex;
    
}
.navc a{
    text-decoration: none;
}
.navc2{
    width: 80%;
    height: 100%;
    background-color: pink;
    display: flex;

}
.icons{
    width: 20%;
    height: 100%;
    /* background-color: lightblue; */
    margin-left: 70%;

}
.navc2 ul{
    display: flex;
    list-style: none;
    padding: 20px;
}
.navc2 ul li{
    padding-left: 10px;
}
.nav2{
    width: 20%;
    height: 50%;
    background-color: #cf3827;
}